.rule-page {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    height: 100vh;
}
 
.bat{
    text-align: left;
    border: 1px solid black;
}

.ball{
    border: 1px solid black;
}

.field{
    border: 1px solid black;
}

.vk{
    height: 300px;
    width: 400px;
}

.ms{
    height: 300px;
    width: 400px;
}

.jr{
    height: 300px;
    width: 400px;
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.box{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    padding: 7px;
    background-color: blueviolet
    ;
}


.dream11-winner-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
  }
  
  .round-image {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px; 
    
  }
  
  .round-image img {
    width: 100px;
  }
  
  .winnings-info {
    
    max-width: 500px; 
  }
  
  .winnings-info h3 {
    
    font-size: 24px;
    margin: 0 0 5px;
  }
  
  .winnings-info h4 {
    
    font-size: 18px;
    margin: 15px 0 5px;
  }
  
  .winnings-info p {
   
    font-size: 16px;
    margin: 0 0 10px;
  }
  
  .bl{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px; 
    background-color: rgb(19, 80, 192);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }



  .champ {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    padding: 10px;

  }

.three-d-button {
  background-color: blue;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.three-d-button:hover {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.three-d-button:active {
  transform: translateY(4px);
  box-shadow: none;
}

  